:root {
    --typedream-text-xl-bold-font-family: "Inter", Helvetica;
    --typedream-text-xl-bold-font-weight: 700;
    --typedream-text-xl-bold-font-size: 20px;
    --typedream-text-xl-bold-letter-spacing: -0.2px;
    --typedream-text-xl-bold-line-height: 28px;
    --typedream-text-xl-bold-font-style: normal;
    --typedream-display-3xl-bold-font-family: "Inter", Helvetica;
    --typedream-display-3xl-bold-font-weight: 700;
    --typedream-display-3xl-bold-font-size: 56px;
    --typedream-display-3xl-bold-letter-spacing: -1.12px;
    --typedream-display-3xl-bold-line-height: 68px;
    --typedream-display-3xl-bold-font-style: normal;
    --typedream-text-lg-regular-font-family: "Inter", Helvetica;
    --typedream-text-lg-regular-font-weight: 400;
    --typedream-text-lg-regular-font-size: 18px;
    --typedream-text-lg-regular-letter-spacing: -0.18px;
    --typedream-text-lg-regular-line-height: 28px;
    --typedream-text-lg-regular-font-style: normal;
    --typedream-display-2xl-bold-font-family: "Inter", Helvetica;
    --typedream-display-2xl-bold-font-weight: 700;
    --typedream-display-2xl-bold-font-size: 36px;
    --typedream-display-2xl-bold-letter-spacing: -0.72px;
    --typedream-display-2xl-bold-line-height: 46px;
    --typedream-display-2xl-bold-font-style: normal;
    --typedream-text-xl-regular-font-family: "Inter", Helvetica;
    --typedream-text-xl-regular-font-weight: 400;
    --typedream-text-xl-regular-font-size: 20px;
    --typedream-text-xl-regular-letter-spacing: -0.2px;
    --typedream-text-xl-regular-line-height: 28px;
    --typedream-text-xl-regular-font-style: normal;
    --typedream-text-md-regular-font-family: "Inter", Helvetica;
    --typedream-text-md-regular-font-weight: 400;
    --typedream-text-md-regular-font-size: 16px;
    --typedream-text-md-regular-letter-spacing: -0.16px;
    --typedream-text-md-regular-line-height: 24px;
    --typedream-text-md-regular-font-style: normal;
    --typedream-text-xs-regular-font-family: "Inter", Helvetica;
    --typedream-text-xs-regular-font-weight: 400;
    --typedream-text-xs-regular-font-size: 13px;
    --typedream-text-xs-regular-letter-spacing: 0px;
    --typedream-text-xs-regular-line-height: 20px;
    --typedream-text-xs-regular-font-style: normal;
    --typedream-colors-light-page-background: rgba(255, 255, 255, 1);
    --typedream-colors-accent: rgba(45, 212, 191, 1);
    --typedream-colors-light-text-primary: rgba(21, 25, 32, 1);
    --typedream-colors-light-text-secondary: rgba(152, 162, 179, 1);
    --typedream-colors-text-white: rgba(255, 255, 255, 1);
    --typedream-colors-light-background: rgba(255, 255, 255, 1);
}
