html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
}

a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

h1 {
    font-size: 50px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #2DD4BF;
    outline: none;
    width: 300px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #2DD4BF;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #1DA693;
}

.country-option {
    padding: 10px;
    cursor: pointer;
    border: 3px solid #2DD4BF;
    border-radius: 20px;
    border-top: none;
}
#country-dropdown {
    max-height: 200px;
    overflow-y: auto;
}

.country-option:hover {
    background-color: rgb(194, 230, 224);
}



